$header-height: 30px;

$header-background-color: #3c3c3c;
$header-color: #ead19b;

$panel-background-color: #1e1e1e;
$panel-color: #569cd6;

$sidebar-open-width: 150px;
$sidebar-padding: 4px;
$sidebar-width: 48px;

$sidebar-background-color: #333;
$sidebar-color: #85857a;
$sidebar-color-active: #fff;
